@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  16% {
    transform: rotate(0deg);
  }
  84% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wiggle {
  animation: none;
}
.wiggle:hover {
  display: inline-block;
  animation: wiggle 1.5s infinite;
}
